.deals-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
  background-color: var(--light-blue-2);
}

.deals-h2 {
  color: var(--blue);
  font-weight: 700;
  text-align: center;
}

.slider-container {
  padding: 30px 0;
}
